<div class="band-detail-container">
    <h1>Band Detail</h1>
    <!-- <pre>{{artists | async | json}}</pre> -->
    <hr />


    <h2>Albums</h2>
    <hr />
    <!-- <pre>{{albums | async | json}}</pre> -->

    <router-outlet></router-outlet>
</div>
