<div class="comments-container">
    <ul>
        <li *ngFor="let comment of data">
            <span class="date">{{comment.ts | date:'d/M/yyyy'}}</span>
            <span class="comment">{{comment.message}}</span>
        </li>
    </ul>

    <div class="post">
        <form (submit)="onSubmit()">
            <textarea [(ngModel)]="commentField" name="comment"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
